services:
  backend:
    build:
      context: ../..
      dockerfile: apps/backend/docker/Dockerfile
      target: production
    ports:
      - '4000:4000'
    environment:
      - NODE_ENV=production
      - PORT=4000
    restart: unless-stopped
